#include <windows.h>

#include "resource.h"

IDI_MINE           ICON "minesweeper.ico"
IDI_MINE_UNEXPLODE ICON "mine_unexplode.ico"
IDI_MINE_EXPLODE   ICON "mine_explode.ico"
IDI_MINE_CORRECT   ICON "mine_correct.ico"
IDI_MINE_INCORRECT ICON "mine_incorrect.ico"
IDI_MINE_UNKNOWN   ICON "mine_unknown.ico"

IDR_MENU MENU
BEGIN
	POPUP "&Game"
	BEGIN
		MENUITEM "&New Game", IDD_GAME_NEW
		MENUITEM "&Settings", IDD_GAME_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDD_GAME_EXIT
	END

	POPUP "&Debug"
	BEGIN
		MENUITEM "Show &Bombs", IDD_DEBUG_SHOW_BOMBS
	END
END

IDD_SETTINGS DIALOGEX 0, 0, 192, 80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Bomb Count"
FONT 9, "Segoe UI"
BEGIN
   CONTROL "Presets", IDC_STATIC, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 48, 68 
   CONTROL "Easy", IDC_SETTINGS_EASY, BUTTON, BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 14, 40, 14 
   CONTROL "Normal", IDC_SETTINGS_NORMAL, BUTTON, BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 28, 40, 14 
   CONTROL "Hard", IDC_SETTINGS_HARD, BUTTON, BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 42, 40, 14 
   CONTROL "Custom", IDC_SETTINGS_CUSTOM, BUTTON, BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 56, 40, 14 
   CONTROL "Bomb Count:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 64, 5, 48, 7 
   CONTROL "", IDC_SETTINGS_BOMBS, "msctls_trackbar32", TBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 12, 128, 12 
   CONTROL "Columns:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 64, 32, 32, 7 
   CONTROL "Rows:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 132, 32, 32, 7 
   CONTROL "15", IDC_SETTINGS_COLS, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 40, 30, 11 
   CONTROL "10", IDC_SETTINGS_ROWS, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 40, 30, 11 
   CONTROL "&OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 58, 48, 14 
   CONTROL "&Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 58, 48, 14 
END
