#include <windows.h>

#include "resource.h"

IDR_MENU MENU
BEGIN
	POPUP "&Game"
	BEGIN
		MENUITEM "&New Game", IDD_GAME_NEW
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDD_GAME_EXIT
	END

	POPUP "&Debug"
	BEGIN
		MENUITEM "Show &Bombs", IDD_DEBUG_SHOW_BOMBS
	END
END
